<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda cadastrada, confira as informações abaixo: </p>
<p>
  <strong>Produto: </strong> {{ produto }} <br/>
  <br/>
  <small>
    A encomenda está pronta para retirada.
  </small>
</p>
